<%- include('./fragments/header.ejs') %>

<main>
    <h2>Strona główna</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nisl dui, sagittis semper ante luctus, convallis
        bibendum urna. Cras id pellentesque orci, nec convallis dui. In tempor lacus ipsum, at imperdiet felis porttitor
        aliquam. Nulla vestibulum rutrum nulla, vel blandit arcu facilisis in. Fusce eget velit congue, fermentum mauris
        id, consequat libero. Nam consequat vitae mauris ac lacinia. Pellentesque et sollicitudin eros. Nunc enim massa,
        posuere non eleifend eu, viverra sit amet erat. Nulla laoreet tellus tincidunt interdum tempor. Mauris non massa
        et nulla efficitur fermentum ultrices ac purus. Nullam auctor sit amet mauris sed commodo. Vestibulum maximus
        aliquam ante. Nullam libero urna, dictum in ullamcorper nec, dapibus vel leo. Ut interdum, eros a commodo
        molestie, leo urna auctor arcu, at bibendum neque nulla eu massa. Fusce rutrum finibus ipsum, at euismod elit
        scelerisque vel. Vivamus sed neque auctor, laoreet leo ac, lacinia orci.
    </p>
    <p>
        Donec risus diam, aliquam nec tempus nec, rutrum non lacus. Praesent varius ipsum lorem, a egestas ante pharetra
        ac. Vestibulum quis arcu feugiat, consequat diam non, tristique magna. Cras vitae tellus sed dui lacinia
        condimentum eu tempus mauris. Sed sed euismod sem, dictum bibendum augue. Duis tellus felis, aliquam quis
        elementum non, semper ut nulla. Nunc eros turpis, varius sed nibh ultricies, blandit varius orci. Sed accumsan
        eu libero bibendum condimentum. Nunc sed magna tincidunt, lobortis leo ac, porta est. Quisque fringilla nibh
        dui, quis ullamcorper nisi facilisis sit amet. Pellentesque lacinia porttitor nulla sit amet sagittis.</p>
</main>

<%- include('./fragments/footer.ejs') %>